@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
:root {
  --primary-color:linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
}

* {
  box-sizing: border-box;
  outline: 0;
}

body {
  margin: 0;
  padding: 0;
  background: var(--primary-color);
  font-family: 'Open sans', sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
  background-size: cover;
  background-attachment: fixed;
}

.container {
  max-width: 640px;
  margin: 50px auto;
  background:rgba(255,255,255,0.5);
  padding: 20px;
  border-radius: 10px;

}

form input, form label, form button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

form input {
  font-size: 24px;
  height: 50px;
  padding: 0 20px;
}

form input:focus {
  outline: 1px solid var(--primary-color);
}



button{
  display: inline-block;
  width: 200px;
  font-size: 1.3em;
  font-family: 'Open Sans', sans-serif;
  border: none;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  transition: all .35s;
  top: 9px;
  bottom: 20px;
  overflow: hidden;
  padding: 10px;
  background-color: #D9AFD9;
}

button:after{
  position: absolute;
  content: " ";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #3cc7d6;
  transition: all .35s;
  bottom: 10px;
}

button:hover{
  color: #fff;
}

button:hover:after{
  width: 100%;
  content: "Verificar IMC";
  padding: 10px;
}

#resultado{
  position: relative;
  top: 20px;
}

.paragrafo-resultado,.bad {
  background: rgb(109, 255, 182);
  padding: 10px 20px;
}

.bad {
  background: rgb(255, 150, 150);
}
